@model ClassicGarageAuth.Models.RepairModel

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie naprawy</h2>

<h3>Czy na pewno chcesz usunąć naprawę @Model.Name</h3>
<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <button type="button" class="btn btn-default no-link">
                @Html.ActionLink("Anuluj", "Owner")
            </button>
            <input type="submit" value="Usuń" class="btn btn-danger no-link" />
        </div>
    }
</div>